.error {
  color: red;
  margin-bottom: 10px;
}

.form {
  padding: 10px 20px;
  border-radius: 5px;
  margin-bottom: 20px;
  background: #dcdcdc;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  text-align: center;
  font-weight: bold;
  margin-bottom: 20px;
}

.row {
  margin-bottom: 10px;
}
